.reset__heading {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.reset__form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.reset__formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset__footer {
    display: flex;
    gap: 0.4rem;
}