.signup__heading {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.signup__formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.signup__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}